*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Arial;
}

body{
  background: linear-gradient(135deg, #2E3192, #1BFFFF);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
}

.card{
  background: rgba(255,255,255,0.95);
  width: 400px;
  padding: 30px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0px 20px 40px rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
}

.card h1{
  font-size: 26px;
  margin-bottom: 8px;
}

.subtitle{
  color: gray;
  margin-bottom: 25px;
  font-size: 14px;
}

.form-group{
  text-align: left;
  margin-bottom: 15px;
}

label{
  font-size: 14px;
  color: #333;
}

input, select{
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  margin-top: 5px;
  font-size: 15px;
}

input:focus, select:focus{
  border-color: #2E3192;
  box-shadow: 0 0 5px rgba(46,49,146,0.4);
}

button{
  width: 100%;
  padding: 12px;
  background: #2E3192;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

button:hover{
  background: #1BFFFF;
  color: black;
}

.output{
  margin-top: 20px;
  padding: 15px;
  background: #f1faff;
  border-radius: 10px;
  border: 1px dashed #2E3192;
}

#result{
  color: #2E3192;
}
