*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background:#0b1220;        
  color:#ffffff;
}
header{
  width:100%;
  padding:25px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  position:fixed;
  top:0;
  z-index:1000;
  background:rgba(10,20,40,0.6);
  backdrop-filter: blur(10px);
}
.logo{
  font-size:28px;
  font-weight:700;
  color:#e5e7eb;
}
nav a{
  margin-left:25px;
  text-decoration:none;
  color:#c7d2fe;
  font-weight:500;
  transition:.3s;
}
nav a:hover{
  color:#facc15;
}
.hero{
  width:100%;
  min-height:100vh;
  padding:100px 8% 50px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
.hero-text{
  max-width:500px;
}
.hero-text h1{
  font-size:48px;
  line-height:1.3;
}
.hero-text p{
  margin:15px 0;
  color:#b9c2d6;
}
.hero-text button{
  padding:12px 25px;
  background:linear-gradient(135deg,#facc15,#eab308);
  border-radius:30px;
  cursor:pointer;
  transition:0.3s;
}
.hero-text button:hover{
  transform: scale(1.08);
  box-shadow:0 0 20px rgba(250,204,21,0.6);
}
.hero img{
  width:450px;
  border-radius:20px;
  box-shadow:0 0 40px rgba(255,255,255,0.08);
}
section{
  padding:70px 8%;
  text-align:center;
}
section h2{
  font-size:35px;
  margin-bottom:20px;
  color:#e5e7eb;
}
.features{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:25px;
  margin-top:40px;
}
.card{
  background:#111c33;
  padding:25px;
  border-radius:20px;
  border:1px solid rgba(255,255,255,0.08);
  transition:0.4s;
}
.card:hover{
  transform: translateY(-8px);
  border:1px solid #facc15;
  box-shadow:0 0 30px rgba(250,204,21,0.2);
}
.card h3{
  color:#facc15;
}
.card p{
  color:#cbd5e1;
}
footer{
  background:#020617;
  padding:20px;
  text-align:center;
  color:#9ca3af;
}
